<div class="hero-unit">
         <h1>Sameer Shemna's SPA for Senior Frontend Developers' test</h1>
          <p>Libraries used:</p>
          <ul>
            <li>AngularJS</li>
            <li>RequireJS</li>
            <li>Highcharts</li>
            <li>CSS Preprocessor used: LESS. </li>
          </ul>
          <p>Additions to AngularJS used:</p>
          <ul>
            <li>RESTangular</li>
            <li>Angular Deckgrid</li>
            <li>HighchartsNG</li>
          </ul>
          <p>Requirements completed:</p>
          <ul>
              <li><span class="fs1" aria-hidden="true" data-icon="&#xe0e2;"></span>&nbsp;4+ Charts</li>
              <li><span class="fs1" aria-hidden="true" data-icon="&#xe0e2;"></span>&nbsp;All charts should be in thumbnail mode on the initial page</li>
              <li><span class="fs1" aria-hidden="true" data-icon="&#xe0e2;"></span>&nbsp;All charts should be given a full view mode (lightbox or new page) done via Routes (Refreshable)</li>
              <li><span class="fs1" aria-hidden="true" data-icon="&#xe0e2;"></span>&nbsp;All charts should be able to switch something simple, such as the chart type or chart name. <em>Persistent data isn't expected to be implemented if you're using JSON files</em></li>
              <li><span class="fs1" aria-hidden="true" data-icon="&#xe0e2;"></span>&nbsp;The chart data should be pulled from a resource. A simple .json file would suffice</li>
              <li><span class="fs1" aria-hidden="true" data-icon="&#xe0e2;"></span>&nbsp;Menu</li>
          </ul>
          <p>Additional to requirements:</p>
          <ul>
              <li><span class="fs1" aria-hidden="true" data-icon="&#xe0e2;"></span>&nbsp;Close Chart</li>
              <li><span class="fs1" aria-hidden="true" data-icon="&#xe0e2;"></span>&nbsp;Add new Chart</li>
          </ul>
          
          <p>I am someone who is in love with his work, especially developing SPAs with Visual Data Representation using Graphs and Charts.</p>
          <p>I have not used any CSS Framework like Bootstrap,etc. instead tried to give the dashboard a kind of jQuery masonry makeover, used routes with parameters for Charts lightbox so as to persist on a browser hard refresh.</p>
          <p>Visual Data Representation is done using HighCharts, more magic could be added using SVG Javascript Libraries like Raphael and d3.js</p>

         
</div>
