<div class="wrapper">
  <section class="menuwrapper">
    <div class="menuwrapper1">    
      <nav class="menu">
        <section class="linkscontainer">
          <ul>
            <li>
                <a ui-sref="home.main" class="hint hint--bottom" data-hint="Dashboard">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe08e;"></div>
                </a>
            </li>
            <li>
                <a ui-sref="home.information" class="hint hint--bottom" data-hint="Information">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe064;"></div>
                </a>
            </li>
            <li>
                <a ui-sref="home.instructions" class="hint hint--bottom" data-hint="Instructions">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe065;"></div>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/sameershemna" class="hint hint--bottom" target="_blank" data-hint="LinkedIn">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe03e;"></div>
                </a>
            </li>
            <li>
                <a href="http://sameershemna.com/downloads/samres1408.pdf" class="hint hint--bottom" target="_blank" data-hint="Resume">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe0fa;"></div>
                </a>
            </li>
            <li><a href="http://sameershemna.com/" class="hint hint--bottom" target="_blank" data-hint="Website">
                        <div class="fs1" aria-hidden="true" data-icon="&#xe002;"></div>
                </a>
            </li>            
          </ul>
        </section>
      </nav>
    </div>
  </section>
</div>